services:
  db:
    image: postgres:17-alpine
    container_name: database
    environment:
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: odoo
      POSTGRES_USER: odoo
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U odoo -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  odoo:
    image: odoo:18.0
    container_name: odoo
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./config/odoo/odoo.conf:/etc/odoo/odoo.conf:ro
      - ./addons:/mnt/extra-addons:ro
      - odoo_data:/var/lib/odoo
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
    healthcheck:
      test: ["CMD-SHELL", "python3 -c 'import socket; s = socket.socket(socket.AF_INET, socket.SOCK_STREAM); s.connect((\"localhost\", 8069))'"]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: unless-stopped
  
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./config/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./config/nginx/certs:/etc/nginx/certs:ro
    depends_on:
      odoo:
        condition: service_healthy
    restart: always

volumes:
  db_data:
  odoo_data:
