services:
  db:
    image: postgres:17-alpine
    container_name: database
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - odoo-network

  odoo:
    image: odoo:18.0
    container_name: odoo
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./config/odoo/odoo.conf:/etc/odoo/odoo.conf:ro
      - ./addons:/mnt/extra-addons:ro
      - odoo_data:/var/lib/odoo
    environment:
      - HOST=${DB_HOST}
      - USER=${DB_USER}
      - PASSWORD=${DB_PASSWORD}
      - ADMIN_PASSWORD=${ODOO_ADMIN_PASSWD}
      - ODOO_PROXY_MODE=True
    healthcheck:
      test: ["CMD-SHELL", "python3 -c 'import socket; s = socket.socket(socket.AF_INET, socket.SOCK_STREAM); s.connect((\"localhost\", 8069))'"]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: unless-stopped
    networks:
      - odoo-network

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./config/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ${SSL_CERT_PATH}:/etc/nginx/ssl/fullchain.pem:ro
      - ${SSL_KEY_PATH}:/etc/nginx/ssl/privkey.pem:ro
    depends_on:
      odoo:
        condition: service_healthy
    restart: always
    networks:
      - odoo-network

networks:
  odoo-network:
    driver: bridge

volumes:
  db_data:
  odoo_data:
