name: Odoo 18 CI

on:
  push:
    branches: [ main, develop, "feature/**" ]
  pull_request:
    branches: [ develop ]

jobs:
  test-deployment:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-docker-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-docker-

      - name: Install Make
        run: sudo apt-get update && sudo apt-get install -y make

      - name: Set permissions
        run: chmod -R 777 config/ addons/

      - name: Build and Verify Environment
        run: make up

      - name: Debug Logs on Failure
        if: failure()
        run: |
          docker logs nginx
          docker logs odoo
          docker ps -a

      - name: Cleanup
        if: always()
        run: make prune
