---
name: Deploy to Server

on:
  push:
    branches:
      - main  # Se ejecuta cuando haces push a la rama main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Executing remote ssh commands using password
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_PRIVATE }}
          port: ${{ secrets.PORT || 22 }}
          script: |
            # 1. Entrar al directorio del proyecto
            cd /ruta/a/tu/proyecto/publicidad_emocion_visual
            
            # 2. Bajar cambios de Git
            git pull origin main
            
            # 3. Reiniciar servicios (ejemplo con Docker)
            docker-compose up -d --build
            
            # 4. Limpieza opcional
            docker image prune -f
