---
name: Production Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.IP }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_PRIVATE }}
          script: |
            if [ ! -d "${{ github.repository }}" ]; then
                # Clone repo if missing
                echo "Cloning repository..."
                git clone "https://github.com/${{ github.repository }}.git"
                cd "${{ github.repository }}"
            else
                # Enter directory and update
                echo "Updating existing code..."
                cd "${{ github.repository }}"
                git pull origin main
            fi

            # Start and build containers
            docker compose up -d --build
            docker compose ps

