name: CI Develop Branch

on:
  pull_request:
    branches:
      - develop

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Validate yaml and python file syntax
      - name: YAML Lint
        uses: ibiqlik/action-yamllint@v3
        with:
          file_or_dir: "./docker-compose.yml .github/workflows/"
          config_data: "{extends: default, rules: {line-length: disable}}"

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Run Flake8
        run: |
          pip install flake8
          flake8 ./addons --count --select=E9,F63,F7,F82 --show-source --statistics

      - name: Validate Compose File
        run: docker compose config -q

      # Test connection to VPS
      - name: Test VPS Connection
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            echo "Connection successful"
            docker --version
