name: Sync Main to Develop

on:
  push:
    branches:
      - main

jobs:
  sync-branches:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Necesario para traer todas las ramas y el historial

      - name: Set up Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Merge main into develop
        run: |
          git checkout develop
          git merge origin/main --no-ff -m "chore: sync develop with main [skip ci]"
          git push origin develop
